#certifications-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: transparent;
}

#certification-card {
  border: 1px solid var(--featured-card-border);
  background: transparent;
}

.certification-body {
  width: 95%;
  padding: 0;
  margin: auto;
}
