#education-container {
  background: transparent;
}

#education-body {
  padding: 0;
}

.education-card {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  background: var(--achievement-card-bg);
  color: var(--achievement-card-text);
  padding: 2%;
}
