.carousel-indicators {
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.carousel-indicators [data-bs-target] {
  height: 1rem;
  background-color: var(--card-text);
}
