#education-container {
  gap: 1rem;
}

.cert-image {
  border: 1px solid var(--card-text-alt);
  width: 90%;
  height: 15rem;
  border-radius: 5px;
  margin: 1rem auto;
}

#achievements-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    width: 100%;
  }
}

#hobbies-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    width: 95%;
    height: 7rem;
    border: 1px solid var(--card-text);
  }
}
