.footer-contact-row {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;

  i {
    width: 25%;
  }

  .footer-contact-text {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
  }
}

.footer-quick-links-col,
.footer-follow-me-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  a {
    color: var(--card-text-alt);
    text-decoration: none;
    padding: 1rem;
  }
}
