#footer {
  width: 100%;
  border-top: 2px solid var(--card-text-alt);
  background: var(--card-bg-alt);
  padding: 0;
  align-items: center;
  position: relative;
  bottom: 0;
  color: var(--card-text-alt);
  display: grid;
  place-items: center;
}

#footer p {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}
