.footer-contact-row {
  display: flex;
  align-items: center;
  margin: 1rem;

  i {
    width: 25%;
    font-size: 1.5rem;
  }

  .footer-contact-text {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
  }
}

#footer-socials {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
  place-items: center;
  gap: 1rem;
  margin: auto;
}

#footer-nav-link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    text-decoration: none;
    margin: 1rem 0;
    color: var(--card-text-alt);
    font-size: 1.25rem;
  }
}
