#intro-container {
  width: 95%;
  border: 1px solid var(--intro-border);
  padding: 4%;
  background-color: var(--nav-bg);
  color: var(--intro-text);
  gap: 1rem;
  box-shadow: inset 0 0 0.5rem var(--hero-btn-text);
  align-self: center;
}

#intro-body {
  background: transparent;
  color: var(--intro-text);
}
