#heroImg {
  width: 60%;
  border-radius: 50%;
  background-color: var(--nav-bg);
  border: 1px solid var(--nav-bg);
  box-shadow: 0 0 1rem var(--card-text);
  margin: 0.5rem auto;
}

.carousel-indicators {
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: start;
}

.carousel-indicators [data-bs-target] {
  height: 1rem;
  background-color: var(--card-text);
  margin: 0 0.5rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 !important;
}

.home-social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 1rem auto;
  height: 8rem;

  i {
    font-size: 2.5rem;
    overflow: hidden;
  }

  legend {
    font-size: 1.25rem;
    color: var(--card-text);
    overflow: hidden;
  }
}

.testimonial-card,
.featured-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 30rem;
  background: var(--card-bg-alt);
  box-shadow: inset 0 0 0.5rem var(--card-text-alt);
  color: var(--card-text-alt-2);
  border: 1px solid var(--card-text-alt);
}

.featured-project {
  height: 33rem;
}

.featured-message {
  min-width: 100%;
  height: 7rem;
  color: var(--card-bg-alt) !important;
  border-radius: 5px;
  text-align: left;
}

.featured-description {
  width: 100%;
}
