#heroImg {
  width: 60%;
  border-radius: 50%;
  background-color: var(--nav-bg);
  border: 1px solid var(--nav-bg);
  box-shadow: 0 0 1rem var(--card-text);
  margin: 0.5rem auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 !important;
}

.home-social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 1rem auto;
  height: 8rem;

  i {
    font-size: 3rem;
    overflow: hidden;
  }

  legend {
    font-size: 1.25rem;
    color: var(--card-text);
    overflow: hidden;
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 18rem;
}
