/* Base Nav Styles */
nav {
  background-color: var(--nav-bg);
  border-bottom: 2px solid var(--card-text-alt);
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: 2rem;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.bi {
  cursor: pointer;
}

/* Theme Button Colors */
.bi-sun-fill {
  color: orange;
}

.bi-moon-fill {
  color: lightblue;
}

#menu-btn {
  color: var(--card-text-alt);
}

.modal-header {
  color: var(--modal-header-text);
  background-color: var(--modal-header-bg);
}

.modal-body {
  height: calc(100vh - 25vh);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--modal-text) !important;
  padding: 1%;
  overflow: hidden;
}

.btn-secondary {
  background: var(--modal-text);
}

/*
/* Media Queries for Larger Screens 
@media screen and (min-width: 500px) {
  .bi-list {
    display: none;
  }

  #themeBtn {
    width: 10%;
    display: grid;
    place-items: center;
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.825rem;
    width: 90%;
    gap: 5px;
  }
}
*/
