#social-links-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--hero-text);

  h3 {
    font-size: 1.75rem;
  }
}

#social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 3rem;
}

.contact-social {
  display: grid;
  place-items: center;
  text-decoration: none;
  text-align: center;
  width: 5rem;

  legend {
    color: var(--hero-text);
    font-size: 1rem;
  }
}

.bi-github {
  color: var--(featured-inner-text);
}

.bi-linkedin {
  color: navy;
}

.bi-facebook {
  color: blue;
}

.bi-instagram {
  color: hotpink;
}

.bi-reddit {
  color: orangered;
}

.bi-youtube {
  color: red;
}

.bi-stack-overflow {
  color: orange;
}

.bi-dribbble {
  color: navy;
}

#x2 {
  color: var(--hero-text);
}
