#social-links-container {
  height: calc(100vh - 20vh);
}

#social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 3rem;
}

#github {
  color: purple;
}

#linkedin {
  color: navy;
}

#facebook {
  color: blue;
}

#instagram {
  color: hotpink;
}

#reddit {
  color: orangered;
}

#x {
  color: var(--text-color);
}
