#hero-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid blue;
  height: calc(100vh - 20vh);
}

#heroImg {
  border: 1px solid var(--text-color);
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem var(--text-color);
}

@media screen and (min-width: 500px) {
  #hero-center {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
