#testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  height: 75vh;
}

#testimonial-card {
  background: var(--featured-description-bg);
  height: 25rem;
  display: grid;
  place-items: center;
}

.testimonial-body {
  /* placeholder for structure purposes*/
}

.carousel-indicators [data-bs-target] {
  height: 1rem;
  background-color: var(--carousel-indicators);
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.testimonial-message {
  padding: 5% 0;
  color: var(--testimonial-text);
}

.testimonial-author {
  background: transparent;
  border-radius: 5px !important;
  color: var(--testimonial-text);
}

.author-text {
  /* placeholder for structure purposes*/
}

.card-body {
  background: transparent;
  color: var(--testimonial-text);
}
