#testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17rem;
  margin: auto;
}

.testimonial {
  display: grid;
  place-items: center;
}

.testimonial-top {
  width: 100%;
  text-align: left;
  padding: 1rem;
  border-radius: 15px;
  height: 13rem;
}

.testimonial-bottom {
  height: 3rem;
}

.message {
  display: grid;
  place-items: center;
  width: 90%;
  background-color: var(--text-color);
  color: var(--testimonial-text);
  border-radius: 10px;
  box-shadow: inset 0 0 0.5rem var(--hero-text);
  border: 1px solid var(--hero-text);
}
