#testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.testimonial {
  display: grid;
  place-items: center;
}

.testimonial-top {
  width: 100%;
  text-align: left;
  padding: 1rem;
  border-radius: 15px;
  height: 13rem;
}

.testimonial-bottom {
  height: 3rem;
}

.testimonial-message {
  padding: 5% 0;
}

.container-title {
  font-size: 2rem;
  color: var(--hero-text);
}

.testimonial-author {
  background: var(--nav-bg);
  border-radius: 5px !important;
}

.author-text {
  color: var(--hero-btn-text) !important;
}