#featured-work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  width: 95%;
  align-self: center;
}

.project-card {
  /*
  placeholder for structure
  */
}

.carousel-indicators {
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

.carousel-indicators [data-bs-target] {
  height: 1rem;
  background-color: var(--featured-bs-target);
}

.featured-item-body {
  background: var(--featured-item-body) !important;
}

.featured-title,
.card-technology {
  overflow: hidden;
  color: var(--featured-card-text);
}

.project-description {
  text-align: left;
  border: 1px solid var(--featured-description-border);
  margin: 0.5rem;
  padding: 2%;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  height: 5rem;
  background-color: var(--featured-description-bg);
  color: var(--featured-description-text);
}

.learn-more {
  background: var(--featured-btn-bg);
  color: var(--featured-btn-color);
  border: var(--featured-btn-border);
  width: 50%;
  margin: 1rem 0 0 0;
}
