.container {
  background: transparent;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 10vh;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: calc(100vh -10vh);
}

#page-title {
  color: var(--card-text-alt);
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 2%;
}

.container-title {
  color: var(--container-title);
  font-size: 2rem;
  margin: 0.5rem;
  padding: 2%;
  text-align: center;
  overflow: hidden;
}

.container-title-alt {
  color: var(--container-title-alt);
  font-size: 2rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.card {
  padding-top: 1rem;
  padding: 2%;
  text-align: center;
  background: transparent;
  border: none;
}

.card-alt {
  background: var(--card-bg-alt);
  padding-top: 1rem !important;
  color: var(--card-text-color);
  border: 1px solid var(--card-text-alt);
  margin: auto;
  width: 95%;
  border-radius: 5px;
  box-shadow: inset 0 0 0.5rem var(--card-text);
}

.card-alt-2 {
  background: var(--card-bg-alt-2);
  text-align: left;
  margin: 1rem auto;
  height: 7rem;
}

.card-text {
  color: var(--card-text);
  overflow: hidden;
  font-size: 1.3rem;
}

.card-text-alt {
  color: var(--card-text-alt);
  overflow: hidden;
  font-size: 1.3rem;
}

.card-text-alt-2 {
  color: var(--card-text-alt-2);
}
