#root,
.page,
#page-title,
.container-title,
.container-title-alt {
  overflow: hidden;
}

.card,
.container {
  width: 100%;
}

.container-title,
.container-title-alt,
.card {
  text-align: center;
}

.container-title,
.container-title-alt,
.card,
.page {
  padding: 2%;
}

.container-title,
.container-title-alt {
  font-size: 2rem;
  margin: 0;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 10vh;
}

.page {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: calc(100vh -10vh);
}

#page-title {
  color: var(--hero-btn-text);
  margin: 0 auto;
  font-size: 1.5rem;
}

.container {
  background: transparent;
  padding: 0;
  border: none;
}

.container-title {
  color: var(--container-title);
}

.container-title-alt {
  color: var(--container-title-alt);
}

.card {
  margin: 1rem 0;
  background: var(--achievement-card-bg);
  color: var(--achievement-card-text);
}
