* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/*html*/
:root {
  overflow-y: hidden;
}

body {
  min-height: 100vh;
}

/*main container within body*/
#root {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*themes*/
.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --scrollbar-bg: #f1f1f1; /* Scrollbar track color for light theme */
  --scrollbar-thumb: #888; /* Scrollbar thumb color for light theme */
  --scrollbar-thumb-hover: #555; /* Scrollbar thumb hover color for light theme */
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --scrollbar-bg: #333; /* Scrollbar track color for dark theme */
  --scrollbar-thumb: #888; /* Scrollbar thumb color for dark theme */
  --scrollbar-thumb-hover: #aaa; /* Scrollbar thumb hover color for dark theme */
}
