* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important;
  touch-action: manipulation;
  overflow-x: hidden;
}

/* themes */
/* prettier-ignore */
body.light {
  --bg-gradient: linear-gradient(
      135deg, 
      #e0f7fa, 
      #81d4fa, 
      #4fc3f7, 
      #0288d1
    );

  /* Nav */
  --nav-bg: #01579b;

  /* Hero */
  --hero-text: #01579b;
  --hero-btn-border: #01579b;
  --hero-btn-text: #b3e5fc;

  /* Intro */
  --intro-border: #01579b;
  --intro-text: #b3e5fc;

  /* Featured */
  --featured-inner-text: #b3e5fc;
  --featured-description-text: #01579b;

  /* Testimonials */
  --testimonial-text: #b3e5fc;

  /* Other */
  --text-color-light: #b3e5fc;
  --text-color: #0288d1; 

  /* scrollbar */
  --scrollbar-bg: #b3e5fc; 
  --scrollbar-thumb: #0288d1; 
  --scrollbar-thumb-hover: #01579b; 
}

/*prettier-ignore*/
body.dark {
  --bg-gradient: linear-gradient(
    135deg,
    #121212,
    #3a0ca3,
    #7209b7,
    #f72585
  ); 

    /* Nav */
  --nav-bg: #7209b7;

  /* Hero */
  --hero-text: #e0e0e0;
  --hero-btn-border: #e0e0e0;
  --hero-btn-text: #e0e0e0;

  /* Intro */
  --intro-border: #e0e0e0;
  --intro-text: #e0e0e0;

  /* Featured */
  --featured-inner-text: #e0e0e0;
  --featured-description-text: #7209b7;

  /* Testimonials */
  --testimonial-text: #e0e0e0;

  /* Other */
  --text-color-light: #e0e0e0;
  --text-color-dark: #01579b;
  --text-color: #7209b7; 
  --scrollbar-bg: #e0e0e0; 
  --scrollbar-thumb: #7209b7; 
  --scrollbar-thumb-hover: #e0e0e0; 
}

/*html*/
:root {
  overflow: auto;
  overflow-x: hidden;
}

body {
  height: calc(100vh -10vh);
  min-width: 220px;
  background: var(--bg-gradient); /* Apply gradient background */
  color: var(--text-color);
  z-index: 1;
}

/*main container within body*/
#root {
  margin-top: 2rem;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h3,
p {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
}

.page {
  padding: 1%;
  border-radius: 5px;
  min-width: 320px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page::-webkit-scrollbar {
  width: 1px;
  border-radius: 15px;
}

.page::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 15px;
}

.page::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 15px;
}

.page::-webkit-scrollbar-thumb:hover {
  background: #555;
}
