* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important;
  touch-action: manipulation;
  overflow-x: hidden;
}

/* body themes */
body.light {
  --bg-gradient: linear-gradient(135deg, #f5f5f5, #e0e0e0, #cfcfcf, #ffffff);
  --nav-bg: #ffffff;
  --container-title: #333333;
  --container-title-alt: #333333;
  --card-bg: #ffffff;
  --card-bg-alt: #e0e0e0;
  --card-bg-alt-2: #f5f5f5;
  --card-title: #333333;
  --card-title-alt: #333333;
  --card-title-alt-2: #555555;
  --card-text: #333333;
  --card-text-alt: #555555;
  --card-text-alt-2: #e0e0e0;
  --carousel-indicators: #3a0ca3;
  --carousel-indicators-alt: #333333;
  --button-color: #7209b7;
  --button-text: #ffffff;
}

body.dark {
  --bg-gradient: linear-gradient(135deg, #121212, #3a0ca3, #7209b7, #f72585);
  --nav-bg: #333333;
  --container-title: #e0e0e0;
  --container-title-alt: #cccccc;
  --card-bg: #333333;
  --card-bg-alt: #444444;
  --card-bg-alt-2: #555555;
  --card-title: #e0e0e0;
  --card-title-alt: #cccccc;
  --card-title-alt-2: #bbbbbb;
  --card-text: #e0e0e0;
  --card-text-alt: #cccccc;
  --card-text-alt-2: #7209b7;
  --carousel-indicators: #7209b7;
  --carousel-indicators-alt: #e0e0e0;
  --button-color: #3a0ca3;
  --button-text: #e0e0e0;
}

/* modal themes */
.modal-light {
  --modal-header-bg: #01579b;
  --modal-header-text: #b3e5fc;
  --modal-text: #01579b;
  --modal-close: #b3e5fc;
}

.modal-dark {
  --modal-header-bg: #333333;
  --modal-header-text: #e0e0e0;
  --modal-text: #333333;
  --modal-close: #e0e0e0;
}

/*html*/
:root {
  overflow: auto;
  overflow-x: hidden;
}

body {
  height: calc(100vh -10vh);
  min-width: 220px;
  color: var(--text-color);
  z-index: 1;
}
