nav {
  background-color: red;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
}

.bi-list {
  cursor: pointer;
}

#menu {
  display: none;
}

#menu.show {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  z-index: 2;
  background-color: #fff;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: red;
}
