#footer-container {
  background-color: var(--nav-bg);
  color: var(--hero-text);
  margin: 1rem 0;
  align-self: center;
  padding: 2%;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5rem var(--hero-text);
  width: 95%;
}

#site-map {
  display: flex;
  align-items: center;
  padding: 2%;
  gap: 1rem;
  margin: 0;
}

#site-map-nav {
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

#footer-top {
  display: flex;
}

#footer-title {
  color: var(--footer-title-text);
}

.footer-link {
  color: var(--hero-btn-text);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0;
}

.footer-social {
  display: grid;
  place-items: center;
  height: 8rem;
  text-decoration: none;
  text-align: center;

  legend {
    color: var(--footer-title-text);
    font-size: 0.8rem;
  }
}

#footer-social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.bi {
  font-size: 2rem;
}

#footer-bottom {
  display: flex;
  justify-content: center;
  padding: 5%;
  color: var(--testimonial-text);
  background-color: var(--footer-title-text);
}

.footer-social-column {
  width: 33%;
}

#footer-socials-nav {
  padding: 0;
}

#footer-bottom.row {
  color: var(--footer-title-text);
  background: var(--nav-bg);
  display: flex;
  align-items: center;
  padding: 0;

  p {
    margin: 0;
  }

  * {
    padding: 0;
  }
}
